*{margin:0;padding:0;border:0;}
a{text-decoration:none;color:#000;font-size:16px;}
li,ul{list-style:none;}
body{
	background:url(images/back.jpg) ;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment:fixed;} 
.wrap{width:1000px;margin-left: auto;margin-right: auto;}

#download{
	background-color: #306;
	color: #fff;
	font-family: "黑体",arial;
	font-size: 30px;
	border-radius: 10px;
	padding: 8px 30px;
	cursor: pointer;
	margin-top: 3px;

}
#download:hover{
	background-color: #303;
	transition:  1s;
	-webkit-transition:  1s; /* Safari */
}
#loginb{
	background-color: #306;
	color: #fff;
	font-family: "黑体",arial;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 30px;
	cursor: pointer;
	margin: 10px 10px;


}
#loginb:hover{
	background-color: #303;
	transition:  1s;
	-webkit-transition:  1s; /* Safari */
}
#loginc{
	background-color: #306;
	color: #fff;
	font-family: "黑体",arial;
	font-size: 20px;
	border-radius: 10px;
	padding: 8px 30px;
	cursor: pointer;
	margin: auto;


}
#loginc:hover{
	background-color: #303;
	transition:  1s;
	-webkit-transition:  1s; /* Safari */
}
.logo img{
	height: 60px;
}
#tt{
	width: 200px;
	height: 30px;
	margin: 10px;
	border: 2px solid #306;
	border-radius: 8px;
}
#tt2{
	width: 200px;
	height: 30px;
	margin: 10px;
	border: 2px solid #306;
	border-radius: 8px;
}
#tt3{
	width: 200px;
	height: 30px;
	margin: 10px;
	border: 2px solid #306;
	border-radius: 8px;
}
#tt4{
	width: 200px;
	height: 30px;
	margin: 10px;
	border: 2px solid #306;
	border-radius: 8px;
}
.header{
	background-color: #f7f7f7;
	height: 60px;
	opacity: 0.7;
}
.header:hover{
	opacity: 0.9;
}

.logo,.nav{
	float :left;
}
.logo{
	width: 200px;
	height: 50px;
}
.right{
	float: right;
}
.right1 span{
	color: #555;
	line-height: 50px;
	margin: 3px;

}
.right1 span a{
	color: #555;
	font-weight: bold;
}
.right1 span a:hover{
	color: #c63;
}
.nav{
	color: #333;
}
.clear{
	clear: both;
}
.nav span{
	font-weight: bold;
	padding: 25px 40px;
	line-height: 55px;
	cursor: pointer;
	border-radius: 5px;
}
.nav span:hover{
	color: #fff;
	background-color: #306;
	transition:  1s;
	-webkit-transition:  1s;
}
.naved span{
	color: #fff;
	background-color: #303;
	font-weight: bold;
	padding: 25px 40px;
	line-height: 55px;
	cursor: pointer;
	border-radius: 5px;
}
.out{
	transition:  1s;
	-webkit-transition:  1s;
}
.bod{margin: -3px 0 0 0;
	background: url(images/toumingzsbg.png);
}
.con{
	
	border-radius: 8px;
	height:800px;
}
.con1{
	background:url(images/toumingbg.png) ;
	border-radius: 8px;
	color: #444;
	padding: 50px;
	margin-top: 3px;
	font-family: "Microsoft YaHei", arial, courier new, courier, monospace;
	min-height:450px;
}
.con1 table{
	margin:auto;
	text-align: center;
}
.con1 table td{
	width: 160px;
}
.con1 h2{
	margin:100px auto 20px;
	text-align: center;
	color: #555;
}
.aboutus{
	margin: 20px ；
}
.aboutus p{
	line-height: 30px;
}
.banner { position: relative; overflow: auto;
height: 100%;
width:100%; }
.banner li { 
	list-style: none; 
	width:100%;}
.banner li img{ 
	list-style: none; 
	width:100%;

	}
.banner ul li { float: left; }
.prev{
	position: relative;	
	opacity: 0.3;
	top: -320px;
	font-weight: bold;
	padding: 10px;
	font-size: 40px;
background-color: #fff;}
.prev:hover{
	opacity: 0.9;
	transition:  0.7s;
	-webkit-transition:  0.7s;
}

.next{
	float: right;
	background-color: #fff;
	opacity: 0.3;
	position: relative;	
	font-weight: bold;
	padding: 10px;
	top: -320px;
	font-size: 40px;
}
.next:hover{
	opacity: 0.9;
	transition:  0.7s;
	-webkit-transition:  0.7s;
}
.nextone{
	height:0;

}
.footer{
	background-color: #f7f7f7;
	opacity: 0.7;
	margin-top: 0px;
}
.center{
	text-align: center;
}
.footnav a{
	margin: 30px 15px;
	line-height: 60px;
	color: #222;
	font-family: "Microsoft YaHei", arial, courier new, courier, monospace;
}
.footnav a:hover{
	color: #c63;
}
.footd{
	color: #222;
	padding-bottom: 20px;
	font-family: "Microsoft YaHei", arial, courier new, courier, monospace;
}
.button{
	font-size: 20px;
}
#show1{
	position:relative;
	left:50px;
	top:20px;
	width:200px;
	height:412px;
}
#show2{
	position:relative;
	left: -70px;
	top:20px;
	height:170px;
	
}
#show3{
	position:relative;
	left: 500px;
	top:-300px;
	width:600px;
	
}
#zhan{
	height: 510px;
}
.dowcon{
	width:200px;
	height: 200px;
	margin: 0 60px;
	background-color: #fff;
	border-radius: 100px;
}
#an1{
	width: 100px;
	position: relative;
	left:50px;
	top:5px;

}
#an2{
	width: 20px;
	position: relative;
	top:60px;
	left:-75px;
}
#an3{
	width: 100px;
	position: relative;
	left:50px;
}
#an4{
	width: 27px;
	position: relative;
	top:-65px;
	left:39px;
}

.anzhuodow:hover #an1{
animation:anzhuo1 0.7s;
-webkit-animation:anzhuo1 0.7s;
animation-timing-function:ease-in-out;
-webkit-animation-timing-function:ease-in-out; 
}
@keyframes anzhuo1
{
0%   {left:50px; top:0px;transform: rotate(0deg);}
40%  {left:50px; top:-20px;transform: rotate(15deg);-ms-transform: rotate(15deg);		/* IE 9 */
							-webkit-transform: rotate(15deg);	/* Safari and Chrome */
							-o-transform: rotate(15deg);		/* Opera */
							-moz-transform: rotate(15deg);		/* Firefox */}
60%  {left:50px; top:-20px;transform: rotate(-15deg);-ms-transform: rotate(-15deg);		/* IE 9 */
							-webkit-transform: rotate(-15deg);	/* Safari and Chrome */
							-o-transform: rotate(-15deg);		/* Opera */
							-moz-transform: rotate(-15deg);		/* Firefox */}	
100% {left:50px; top:0px;transform: rotate(0deg);}
}

@-moz-keyframes anzhuo1 /* Firefox */
{
0%   {left:50px; top:0px;transform: rotate(0deg);}
30%  {left:50px; top:-20px;transform: rotate(15deg);-ms-transform: rotate(15deg);		/* IE 9 */
							-webkit-transform: rotate(15deg);	/* Safari and Chrome */
							-o-transform: rotate(15deg);		/* Opera */
							-moz-transform: rotate(15deg);		/* Firefox */}
70%  {left:50px; top:-20px;transform: rotate(-15deg);-ms-transform: rotate(-15deg);		/* IE 9 */
							-webkit-transform: rotate(-15deg);	/* Safari and Chrome */
							-o-transform: rotate(-15deg);		/* Opera */
							-moz-transform: rotate(-15deg);		/* Firefox */}	
100% {left:50px; top:0px;transform: rotate(0deg);}
}

@-webkit-keyframes anzhuo1 /* Safari 和 Chrome */
{
0%   {left:50px; top:0px;transform: rotate(0deg);}
40%  {left:50px; top:-20px;transform: rotate(15deg);-ms-transform: rotate(15deg);		/* IE 9 */
							-webkit-transform: rotate(15deg);	/* Safari and Chrome */
							-o-transform: rotate(15deg);		/* Opera */
							-moz-transform: rotate(15deg);		/* Firefox */}
60%  {left:50px; top:-20px;transform: rotate(-15deg);-ms-transform: rotate(-15deg);		/* IE 9 */
							-webkit-transform: rotate(-15deg);	/* Safari and Chrome */
							-o-transform: rotate(-15deg);		/* Opera */
							-moz-transform: rotate(-15deg);		/* Firefox */}	
100% {left:50px; top:0px;transform: rotate(0deg);}
}

@-o-keyframes anzhuo1 /* Opera */
{
0%   {left:50px; top:0px;transform: rotate(0deg);}
40%  {left:50px; top:-20px;transform: rotate(15deg);-ms-transform: rotate(15deg);		/* IE 9 */
							-webkit-transform: rotate(15deg);	/* Safari and Chrome */
							-o-transform: rotate(15deg);		/* Opera */
							-moz-transform: rotate(15deg);		/* Firefox */}
60%  {left:50px; top:-20px;transform: rotate(-15deg);-ms-transform: rotate(-15deg);		/* IE 9 */
							-webkit-transform: rotate(-15deg);	/* Safari and Chrome */
							-o-transform: rotate(-15deg);		/* Opera */
							-moz-transform: rotate(-15deg);		/* Firefox */}	
100% {left:50px; top:0px;transform: rotate(0deg);}
}

.anzhuodow:hover #an2{
animation:anzhuo2 0.7s;
-webkit-animation:anzhuo2 0.7s;
}
@keyframes anzhuo2
{
0%   {left:-75px; top:60px;transform: rotate(0deg);}

50%  {left:-100px; top:60px;transform: rotate(90deg);-ms-transform: rotate(90deg);		/* IE 9 */
							-webkit-transform: rotate(90deg);	/* Safari and Chrome */
							-o-transform: rotate(90deg);		/* Opera */
							-moz-transform: rotate(90deg);	/* Firefox */}	
100% {left:-75px; top:60px;transform: rotate(180deg);-ms-transform: rotate(180deg);		/* IE 9 */
							-webkit-transform: rotate(180deg);	/* Safari and Chrome */
							-o-transform: rotate(180deg);		/* Opera */
							-moz-transform: rotate(180deg);}
}

@-moz-keyframes anzhuo2 /* Firefox */
{
0%   {left:-75px; top:60px;transform: rotate(0deg);}

50%  {left:-100px; top:60px;transform: rotate(90deg);-ms-transform: rotate(90deg);		/* IE 9 */
							-webkit-transform: rotate(90deg);	/* Safari and Chrome */
							-o-transform: rotate(90deg);		/* Opera */
							-moz-transform: rotate(90deg);	/* Firefox */}	
100% {left:-75px; top:60px;transform: rotate(180deg);-ms-transform: rotate(180deg);		/* IE 9 */
							-webkit-transform: rotate(180deg);	/* Safari and Chrome */
							-o-transform: rotate(180deg);		/* Opera */
							-moz-transform: rotate(180deg);}
}

@-webkit-keyframes anzhuo2 /* Safari 和 Chrome */
{
0%   {left:-75px; top:60px;transform: rotate(0deg);}

50%  {left:-100px; top:60px;transform: rotate(90deg);-ms-transform: rotate(90deg);		/* IE 9 */
							-webkit-transform: rotate(90deg);	/* Safari and Chrome */
							-o-transform: rotate(90deg);		/* Opera */
							-moz-transform: rotate(90deg);	/* Firefox */}	
100% {left:-75px; top:60px;transform: rotate(180deg);-ms-transform: rotate(180deg);		/* IE 9 */
							-webkit-transform: rotate(180deg);	/* Safari and Chrome */
							-o-transform: rotate(180deg);		/* Opera */
							-moz-transform: rotate(180deg);}
}

@-o-keyframes anzhuo2 /* Opera */
{
0%   {left:-75px; top:60px;transform: rotate(0deg);}

50%  {left:-100px; top:60px;transform: rotate(90deg);-ms-transform: rotate(90deg);		/* IE 9 */
							-webkit-transform: rotate(90deg);	/* Safari and Chrome */
							-o-transform: rotate(90deg);		/* Opera */
							-moz-transform: rotate(90deg);	/* Firefox */}	
100% {left:-75px; top:60px;transform: rotate(180deg);-ms-transform: rotate(180deg);		/* IE 9 */
							-webkit-transform: rotate(180deg);	/* Safari and Chrome */
							-o-transform: rotate(180deg);		/* Opera */
							-moz-transform: rotate(180deg);}
}


.anzhuodow:hover #an4{
animation:anzhuo4 0.7s;
-webkit-animation:anzhuo4 0.7s;
}
@keyframes anzhuo4
{
0%   {left:39px; top:-65px;transform: rotate(0deg);}

50%  {left:64px; top:-65px;transform: rotate(-90deg);-ms-transform: rotate(-90deg);		/* IE 9 */
							-webkit-transform: rotate(-90deg);	/* Safari and Chrome */
							-o-transform: rotate(-90deg);		/* Opera */
							-moz-transform: rotate(-90deg);	/* Firefox */}	
100% {left:39px; top:-65px;transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);}
}

@-moz-keyframes anzhuo4 /* Firefox */
{
0%   {left:39px; top:-65px;transform: rotate(0deg);}

50%  {left:64px; top:-65px;transform: rotate(-90deg);-ms-transform: rotate(-90deg);		/* IE 9 */
							-webkit-transform: rotate(-90deg);	/* Safari and Chrome */
							-o-transform: rotate(-90deg);		/* Opera */
							-moz-transform: rotate(-90deg);	/* Firefox */}	
100% {left:39px; top:-65px;transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);}
}

@-webkit-keyframes anzhuo4 /* Safari 和 Chrome */
{
0%   {left:39px; top:-65px;transform: rotate(0deg);}

50%  {left:64px; top:-65px;transform: rotate(-90deg);-ms-transform: rotate(-90deg);		/* IE 9 */
							-webkit-transform: rotate(-90deg);	/* Safari and Chrome */
							-o-transform: rotate(-90deg);		/* Opera */
							-moz-transform: rotate(-90deg);	/* Firefox */}	
100% {left:39px; top:-65px;transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);}
}

@-o-keyframes anzhuo4 /* Opera */
{
0%   {left:39px; top:-65px;transform: rotate(0deg);}

50%  {left:64px; top:-65px;transform: rotate(-90deg);-ms-transform: rotate(-90deg);		/* IE 9 */
							-webkit-transform: rotate(-90deg);	/* Safari and Chrome */
							-o-transform: rotate(-90deg);		/* Opera */
							-moz-transform: rotate(-90deg);	/* Firefox */}	
100% {left:39px; top:-65px;transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);}
}

.anzhuodow:hover #an3{
animation:anzhuo3 0.7s;
-webkit-animation:anzhuo3 0.7s;
}
@keyframes anzhuo3
{
@-webkit-keyframes anzhuo3 /* Safari 和 Chrome */
{
0%   {left:50px; top:0px;}

50%  {left:50px; top:20px; }	
100% {left:50px; top:0px;}
}
}

@-moz-keyframes anzhuo3 /* Firefox */
{
0%   {left:50px; top:0px;}

50%  {left:50px; top:20px; }	
100% {left:50px; top:0px;}
}

@-webkit-keyframes anzhuo3 /* Safari 和 Chrome */
{
0%   {left:50px; top:0px;}

50%  {left:50px; top:20px; }	
100% {left:50px; top:0px;}
}

@-o-keyframes anzhuo3/* Opera */
{
0%   {left:50px; top:0px;}

50%  {left:50px; top:20px; }	
100% {left:50px; top:0px;}
}

.centertable{
	margin:auto;
}
.textcenter{
	text-align: center;
}

.dowtext{
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	font-family: "Microsoft YaHei", arial, courier new, courier, monospace;
}

.appledow{

	background-color: #fff;
}
.appledow:hover{
}

#app1{
	position: relative;
	left: 15px;
	top:-10px;
}
#app2{
	position: relative;
	top:-20px;
	left: -5px;
	width: 140px;
}

.appledow:hover #app1{
animation:apple1 0.7s;
-webkit-animation:apple1 0.7s;
}
@keyframes apple1
{
0%   {left:15px; top:-10px;}

50%  {left:15px; top:-30px; transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);	/* Firefox */}	
100% {left:15px; top:-10px;transform: rotate(-360deg);-ms-transform: rotate(-360deg);		/* IE 9 */
							-webkit-transform: rotate(-360deg);	/* Safari and Chrome */
							-o-transform: rotate(-360deg);		/* Opera */
							-moz-transform: rotate(-360deg);}
}

@-moz-keyframes apple1 /* Firefox */
{
0%   {left:15px; top:-10px;}

50%  {left:15px; top:-30px; transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);	/* Firefox */}	
100% {left:15px; top:-10px;transform: rotate(-360deg);-ms-transform: rotate(-360deg);		/* IE 9 */
							-webkit-transform: rotate(-360deg);	/* Safari and Chrome */
							-o-transform: rotate(-360deg);		/* Opera */
							-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes apple1 /* Safari 和 Chrome */
{
0%   {left:15px; top:-10px;}

50%  {left:15px; top:-30px; transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);	/* Firefox */}	
100% {left:15px; top:-10px;transform: rotate(-360deg);-ms-transform: rotate(-360deg);		/* IE 9 */
							-webkit-transform: rotate(-360deg);	/* Safari and Chrome */
							-o-transform: rotate(-360deg);		/* Opera */
							-moz-transform: rotate(-360deg);}
}

@-o-keyframes apple1/* Opera */
{
0%   {left:15px; top:-10px;}

50%  {left:15px; top:-30px; transform: rotate(-180deg);-ms-transform: rotate(-180deg);		/* IE 9 */
							-webkit-transform: rotate(-180deg);	/* Safari and Chrome */
							-o-transform: rotate(-180deg);		/* Opera */
							-moz-transform: rotate(-180deg);	/* Firefox */}	
100% {left:15px; top:-10px;transform: rotate(-360deg);-ms-transform: rotate(-360deg);		/* IE 9 */
							-webkit-transform: rotate(-360deg);	/* Safari and Chrome */
							-o-transform: rotate(-360deg);		/* Opera */
							-moz-transform: rotate(-360deg);}
}

.appledow:hover #app2{
animation:apple2 0.7s;
-webkit-animation:apple2 0.7s;
}
@keyframes apple2
{
0%   {left:-5px; top:-20px;}

30%  {left:-5px; top:-20px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	
60%  {left:-5px; top:-20px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	
100% {left:-5px; top:-20px;}
}

@-moz-keyframes apple2 /* Firefox */
{
0%   {left:-5px; top:-20px;}

30%  {left:-5px; top:-20px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	
60%  {left:-5px; top:-20px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	
100% {left:-5px; top:-20px;}
}

@-webkit-keyframes apple2 /* Safari 和 Chrome */
{
0%   {left:-5px; top:-20px;}

30%  {left:-5px; top:-20px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	
60%  {left:-5px; top:-20px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	
100% {left:-5px; top:-20px;}
}

@-o-keyframes apple2/* Opera */
{
0%   {left:-5px; top:-20px;}

30%  {left:-5px; top:-20px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	
60%  {left:-5px; top:-20px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	
100% {left:-5px; top:-20px;}
}

#wp1{
	width: 56px;
}
#wp2{
	width: 73px;
}
#wp3{
	width: 56px;
}
#wp4{
	width: 73px;
}

#wp1,#wp2,#wp3,#wp4{
	position: relative;
	top: 30px;
}


.wpdow:hover #wp1{
animation:wp1 0.7s;
-webkit-animation:wp1 0.7s;
}
@keyframes wp1
{
0%   {left:0;top:30px;}

50%  {left:-20px; top:16px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-moz-keyframes wp1 /* Firefox */
{
0%   {left:0;top:30px;}

50%  {left:-20px; top:16px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-webkit-keyframes wp1 /* Safari 和 Chrome */
{
0%   {left:0;top:30px;}

50%  {left:-20px; top:16px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-o-keyframes wp1/* Opera */
{
0%   {left:0;top:30px;}

50%  {left:-20px; top:16px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

.wpdow:hover #wp2{
animation:wp2 0.7s;
-webkit-animation:wp2 0.7s;
}
@keyframes wp2
{
0%   {left:0;top:30px;}

50%  {left:18px; top:22px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-moz-keyframes wp2 /* Firefox */
{
0%   {left:0;top:30px;}

50%  {left:18px; top:22px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-webkit-keyframes wp2 /* Safari 和 Chrome */
{
0%   {left:0;top:30px;}

50%  {left:18px; top:22px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-o-keyframes wp2/* Opera */
{
0%   {left:0;top:30px;}

50%  {left:18px; top:22px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

.wpdow:hover #wp3{
animation:wp3 0.7s;
-webkit-animation:wp3 0.7s;
}
@keyframes wp3
{
0%   {left:0;top:30px;}

50%  {left:-18px; top:40px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-moz-keyframes wp3 /* Firefox */
{
0%   {left:0;top:30px;}

50%  {left:-18px; top:40px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-webkit-keyframes wp3 /* Safari 和 Chrome */
{
0%   {left:0;top:30px;}

50%  {left:-18px; top:40px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-o-keyframes wp3/* Opera */
{
0%   {left:0;top:30px;}

50%  {left:-18px; top:40px; transform: rotate(30deg);-ms-transform: rotate(30deg);		/* IE 9 */
							-webkit-transform: rotate(30deg);	/* Safari and Chrome */
							-o-transform: rotate(30deg);		/* Opera */
							-moz-transform: rotate(30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

.wpdow:hover #wp4{
animation:wp4 0.7s;
-webkit-animation:wp4 0.7s;
}
@keyframes wp4
{
0%   {left:0;top:30px;}

50%  {left:20px; top:45px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-moz-keyframes wp4 /* Firefox */
{
0%   {left:0;top:30px;}

50%  {left:20px; top:45px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-webkit-keyframes wp4 /* Safari 和 Chrome */
{
0%   {left:0;top:30px;}

50%  {left:20px; top:45px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}

@-o-keyframes wp4/* Opera */
{
0%   {left:0;top:30px;}

50%  {left:20px; top:45px; transform: rotate(-30deg);-ms-transform: rotate(-30deg);		/* IE 9 */
							-webkit-transform: rotate(-30deg);	/* Safari and Chrome */
							-o-transform: rotate(-30deg);		/* Opera */
							-moz-transform: rotate(-30deg);	/* Firefox */}	

100% {left:0;top:30px;}
}
#lit{
	font-size: 10px;
}
#lit a{
	font-size: 10px;
	color: #000;
}
#lit a:hover{
	color: #c60;
}